*.egg-info/
*.pyc
*.pyo
.*.sw[op]
/.pytest_cache/
/.idea/
/.project
/.tags
/.tox/
/.cache/
/TAGS
/build/*
/dist/*
/doc/_build
/.coverage
/htmlcov
/.vscode
venv/
.venv/
.DS_Store
quicktest.py
codesnippets/1729.cpp
codesnippets/2671.js
codesnippets/2671.ts
quicktest/quicktest.css
quicktest/quicktest.html
codesnippets/1138.cpp
