#try {
    background-color: #f6f6f6;
    border-radius: 0;
    border: 1px solid #ccc;
    margin-top: 15px;
    padding: 10px 15px 5px 10px;
    position: relative;
}

#try h2 {
    margin-top: 0;
}

#try textarea {
    border: 1px solid #999;
    padding: 2px;
    width: 100%;
    min-height: 150px;
}

#hlcode {
    padding: 10px 0;
}

#hlcode pre {
    background-color: transparent;
    border-radius: 0;
}

#code-header:not([hidden]) {
    display: flex;
    padding: 0 15px;
}
.flex-grow-1 {
    flex-grow: 1;
}
#lexer {
    margin-right: 0.5em;
}
#guessed-lexer:not(:empty):before {
    content: '(guessed ';
}
#guessed-lexer:not(:empty):after {
    content: ')';
}

#loading:not([hidden]) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
