#try {
    background-color: #f6f6f6;
    border-radius: 0;
    border: 1px solid #ccc;
    margin-top: 15px;
    padding: 10px 15px 5px 10px;
    position: relative;
}

#try h2 {
    margin-top: 0;
}

#try textarea {
    border: 1px solid #999;
    padding: 2px;
    width: 100%;
    min-height: 150px;
}

#hlcode {
    padding: 10px 0;
}

#hlcode pre {
    background-color: transparent;
    border-radius: 0;
}

#hlcodedl {
    text-align: right;
    padding: 0 15px;
}

#loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto auto;
    background-color: #cccccccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
