!!! XML
!!!
%html
  %head
    %title Welcome to pygments
  %body
    %h1 Welcome!
    %p This is a haml test page for pygments
    / Putting a html comment here
    -# Putting a haml comment here, which will not be rendered
      nor this,
          nor this
    /[if IE]
      %p You see this line only when your browser is old



